.bg-custom {
  background-color: #2C3E50;
}

.navbar-custom {
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  border-radius: 0;
  padding: 25px 0;
  font-weight: 700;
}

@media (min-width: 992px) {
  .logo {
    font-size: 2em;
    padding-top: 6px;
  }
}

@media (min-width: 992px) {
  .navbar-nav .nav-item .menu {
    padding: 20px 15px;
  }
}
